*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 100px 1fr 1fr;
    height: 100vh;
}
header{
    background-color: grey;
    grid-column: 1/4;
}
h2,h1{
    text-align: center;
    text-shadow: 2px 2px 2px white;
}
.nav{
    background-color: grey;
    grid-row: 2/3;
    display:inline-flex;
}
main{
    background-color: grey;
    grid-column: 2/4;
}
img{
    width: 30em;
}